{% include "head.html" %}
{% include "nav.html" %}
{% include "side_menu.html" %}
    <div class="sd_left">
      <div class="text_padding">
        <h2>Welcome</h2>
        <p>CiClops is a web portal to enable easy and intuitive interaction with the various services provided by the CIRG research group.</p>
        <br />
        <p>Currently the following services can be accessed via CiClops:
        <ul>
            <li><b>Pleiades: </b>A cluster solution for the execution of large-scale computational intelligence experiments.</li>
            <br/>
            <!--<li><b>CIDB: </b>A database containing results of previously executed experiments for comparisson with your results.</li>-->
        </ul>
        </p>
        <p>Use the top navigation bar to navigate to different services.</p>
        <br />
      </div>
    </div>
{% include "footer.html" %}
