  <div id="nav">
    <ul>
      <li {% if current == 'CiClops' %} id="current" {% endif %}><a href="/ciclops/">Home</a></li>
      <li {% if current == 'Pleiades' %} id="current" {% endif %}><a href="/pleiades/">Pleiades</a></li>
      <li {% if current == 'CIdb' %} id="current" {% endif %}><a href="/cidb/search/">CIdb</a></li>
      <li {% if current == 'F-Race' %} id="current" {% endif %}><a href="/frace/">F-Race</a></li>
      <!--li {% if current == '' %} id="current" {% endif %}><a href="">item</a></li>
      <li {% if current == '' %} id="current" {% endif %}><a href="">item</a></li>-->
      <li {% if current == 'About' %} id="current" {% endif %}><a href="">About</a></li>
      <li {% if current == '' %} id="current" {% endif %}><a href="">Contact</a></li>
    </ul>
  </div>
<div class="main_content">
