    <div class="sd_right">
      <div class="text_padding">
        <h2>Quick Links</h2>
        <ul>
            <li><a href="/pleiades/progress">link</a></li>
            <li><a href="">link</a></li>
        </ul>
        <!--<h2>Search</h2>
        <form method="get" action="http://www.google.com/search">
          <p>
            <input type="text" name="q" class="search" />
            <input type="hidden" name="sitesearch" value="ciclops.cs.up.ac.za"/>
            <input type="submit" value="Go" class="submit" />
          </p>
        </form>-->
        <br />
        <!--<h2>Last Articles</h2>
        <a href="http://www.free-css.com/">Link to a article</a><br />
        <a href="http://www.free-css.com/">Link to another article...</a><br />
        <br />
        <h2>Links</h2>
        <a href="http://www.free-css.com/">www.solucija.com</a><br />
        <a href="http://www.free-css.com/">ww.free-css-templates.com</a><br />-->
      </div>
    </div>
