<!DOCTYPE html>
<html>
<head>
<title>CiClops</title>
<link rel="stylesheet" href=/media/style.css type="text/css" />
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script src="{{MEDIA_URL}}jquery-1.9.1.js"></script>
<script src="{{MEDIA_URL}}pleiades_progress.js"></script>
</head>
<body>
<div class="content">
  <div class="preheader">
    <div class="padding"><!--<a href="">Help</a>--></div>
  </div>
  <div class="header">
    <div class="title"><a href="/ciclops/">CiClops</a></div>
    <div class="slogan">Computational Intelligence Research Group<br/>University of Pretoria<br/>South Africa</div>
  </div>
