{% include "pleiades/head.html" %}
{% include "nav.html" %}
{% include "pleiades/side_menu.html" %}
    <div class="sd_left">
      <div class="text_padding">
        <h2>Welcome to Pleiades</h2>
        <p>Pleiades is a cross-platform, decentralized cluster solution for the execution of large-scale computational intelligence experiments.</p>
        <br />
        <p>You may use this web portal to upload new jobs, generate progress reports for ongoing jobs, and download available results.</p>
      </div>
    </div>
{% include "footer.html" %}
