{% include "pleiades/head.html" %}
{% include "nav.html" %}
{% include "pleiades/side_menu.html" %}
<div class="sd_left">
      <div class="text_padding">
        <h2>Pleiades Progress Report</h2>
        {% if is_admin == 1%}
            <div class="admin">
                <form action="/pleiades/progress/" method="post">{% csrf_token %}
                    <div class="fieldWrapper">
                        {% for field in form %}
                            {{ field.label_tag }}:
                            {{ field.errors }}
                            {{ field }}
	                {% endfor %}
                    <input type="submit" value="Go">
                    </div>
                </form>
            </div><br/>
        {% endif %}
        {% for job in jobs %}
	    <div class="job" id="{{ forloop.counter }}">
		<div class="job_title">
			<table width="100%">
			<row>
				<td><h1>{{job.name}}</h1></td><td align="right"><h1>{{job.progress}}%</h1></td>
			</row>
			</table><hr/>
		</div>
               	<div class="pie_chart" id="{{ forloop.counter }}_pie_chart">
		</div>
		<div class="job_info"></div>
		<div class="job_controls">
			<a href="/pleiades/progress/chart/{{view_as}}/{{job.name}}/" class="200" id="chart">Progress Chart</a>&nbsp;&bull;
			<a href="/pleiades/progress/samples/{{view_as}}/{{job.name}}/" class="280" id="samples">Simulations Breakdown</a>&nbsp;&bull;
			<a href="/hide/" class="0" id="hide">hide</a>
		</div>
	    </div><br/>
        {% endfor %}
      </div>
</div>
{% include "footer.html" %}
